In [1]:
%reset -f
import sys
sys.path.append("../data/exadata/parquet_dataset/query_tool")
import pandas as pd
import numpy as np
from query_tool import M100DataClient
from matplotlib import pyplot as plt
import datetime

In [2]:
dataset_path = '../data/m100'
client = M100DataClient(dataset_path)

In [3]:
plugins = list(client.metrics_per_plugin.keys())

In [8]:
ipmi_metrics = client.metrics_per_plugin['ipmi']
ganglia_metrics = client.metrics_per_plugin['ganglia']
vertiv_metrics = client.metrics_per_plugin['vertiv']
schneider_metrics = client.metrics_per_plugin['schneider']
weather_metrics = client.metrics_per_plugin['weather']
logics_metrics = client.metrics_per_plugin['logics']
nagios_metrics = client.metrics_per_plugin['nagios']
slurm_metrics = client.metrics_per_plugin['slurm']
job_table_metrics = client.metrics_per_plugin['job_table']

In [6]:
df = client.query('gpu0_core_temp', columns=['timestamp','value'],
                  year_month='20-06')

Retrieving data of type: int32

In [12]:
df = client.query(['ambient'],
                  columns=['timestamp','node','value'],
                  year_month="20-06") 
df.head()

Retrieving data of type: float

                  timestamp node  value
0 2020-06-21 08:39:20+00:00   90   13.6
1 2020-06-21 08:39:40+00:00   90   13.6
2 2020-06-21 08:40:00+00:00   90   13.4
3 2020-06-21 08:40:20+00:00   90   13.4
4 2020-06-21 08:40:40+00:00   90   13.4

In [14]:
#let's get a dataframe with each of the variables we defined, aligned by time and node
df_jobs = client.query(['load_fifteen'],
                  columns=['timestamp','node','value'],
                  year_month="20-06") 

df_jobs.head()

Retrieving data of type: float

                  timestamp node  value
0 2020-06-10 18:35:40+00:00  395   3.10
1 2020-06-10 18:37:10+00:00  395   2.84
2 2020-06-10 18:38:40+00:00  395   2.55
3 2020-06-10 18:40:10+00:00  395   2.33
4 2020-06-10 18:41:42+00:00  395   2.09

In [19]:
df_power = client.query(['Tot'],
                  columns=['timestamp','value','device', 'panel'],
                  year_month="20-06") 

df_power.head()

Retrieving data of type: float

Empty DataFrame
Columns: [timestamp, value, device, panel]
Index: []

In [4]:
df_weather = client.query(['temp'],
                  columns=['timestamp','value'],
                  year_month="20-06")

Retrieving data of type: float

In [8]:
df_weather = client.query('temp', columns=['timestamp', "node", 'value'], year_month = ['20-06'])

Retrieving data of type: float

In [ ]:
df_air = client.query(['Return_Air_Temperature'],
                  columns=['timestamp','value'],
                  year_month="20-06")

In [5]:
metrics_hardware_gpu = [f'gpu{i}_core_temp' for i in [0,1,3,4]]
metrics_hardware_cpu = [f'p0_core{i}_temp' for i in range(24)] 

this_left = ([f'p1_core{i}_temp' for i in range(24)])

for j in range(24):
    metrics_hardware_cpu.append(this_left[j])

for i in range(3):
  metrics_hardware_cpu.append(metrics_hardware_gpu[i])

metrics_hardware = metrics_hardware_cpu

In [22]:
df_hardware = client.query(metrics_hardware,
                  columns=['timestamp','value', 'node'],
                  year_month="20-06", node = ['381','383','385','387'] )

Retrieving data of type: int32

ArrowInvalid: Could not open Parquet input source '../data/m100/year_month=20-06/plugin=ipmi_pub/metric=p1_core15_temp/a_0.parquet': Parquet magic bytes not found in footer. Either the file is corrupted or this is not a parquet file.

Ganglia - info on each of the 3 GPUs

Slurm - simple metrics of load

Vertiv - use almost all of these dimensions


Important:
cooling:

define control actions: 
vertiv - input air supply temperature set point (supply_air_temperature)

ACTIONS: set points

ONE DIMENSIONAL ACTION SPACE!

logics - power consumption 

FEATURE SPACE:
cooling
AC



objective:
minimize power while remaining a safe range

temperature (weather - humidity, temp) ()


job allocation/power
spatial distribution